.floating-buttons {
    position: fixed;
    bottom: 40px;
    right: 50px;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    border: none;

}