.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--sec-bg-color);
    padding: 20px 40px;
    height: var(--header-height);

    h1 {
        color: white;
        font-size: 25px;
    }
}
