.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--sec-bg-color);
    padding: 20px 40px;
    height: var(--header-height);
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: var(--shadow);

    .home {
        display: flex;
        align-items: center;

        svg {
            filter: drop-shadow(0px 0px 7px rgb(0,0,0, 0.8));
        }

        h1 {
            color: white;
            font-size: 25px;
            margin-left: 20px;
            margin-top: 3px;
        }
    }
}
