.cheatsheet {
    display: flex;
    flex-direction: column;
    width: 250px;
    border: 1px solid grey;
    border-radius: 7px;
    padding: 20px;

    img {
        height: 90px;
        width: 100%;
        border-radius: 7px;
        margin-bottom: 15px;
        border: 1px solid red;
    }
}