.cheatsheet {
    display: flex;
    flex-direction: column;
    width: 250px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);

    img {
        height: 90px;
        width: 100%;
        border-radius: 7px;
        margin-bottom: 15px;
    }

    &:hover {
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    }
}