.floating-button {
    position: fixed;
    bottom: 40px;
    right: 50px;
    z-index: 1;
    background-color: var(--acc-color);
    border-radius: 50%;
    width: 65px;
    height: 65px;
    box-shadow: var(--shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    border: none;

    &:hover {
        background-color: var(--acc-color-hover);
    }
    
    &:active {
        background-color: var(--acc-color-active);
    }

    @media screen and (max-width: 620px) {
        width: 55px;
        height: 55px;
    }
}