.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - var(--header-height));

    .loading-logo {
        background-image: url("../../public/assets/images/Logo-anim.gif");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 100px;
        height: 100px;
        margin-bottom: 15px;
    }
}