.loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));

    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        background-color: rgba(0, 0, 0, 0.2);
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
    }

    h1 {
        margin-top: 15px;
        user-select: none;
    }

    &.show {
        display: flex;
    }
}
