.switch {
    --size: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;

    .switch-body {
        height: var(--size);
        width: calc(var(--size) * 2);
        border-radius: var(--size);
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;

        .light,
        .dark {
            height: 100%;
            transition: flex-grow 0.3s ease;
        }

        .light {
            border-radius: 0px 15px 15px 0px;
            flex-grow: 1;
            background-color: #e2e2e2;
        }
        
        .dark {
            border-radius: 15px 0px 0px 15px;
            flex-grow: 0;
            width: calc(var(--size) * 0.5);
            background-color: #0c043f;
        }
    }

    .switch-circle {
        width: calc(var(--size) + 3px);
        height: calc(var(--size) + 3px);
        border-radius: 50%;
        position: absolute;
        margin-left: 0px;
        background-color: #f0f0f0;
        transition: margin 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: var(--shadow);
        
        svg path {
            fill: var(--bg-color);
        }
    }
    
    &.on {
        .switch-circle {
            margin-left: var(--size);
            background-color: #271c6c;
            
            svg path {
                fill: var(--acc-color);
            }
        }

        .light {
            flex-grow: 0;
            width: calc(var(--size) * 0.5);
        }

        .dark {
            flex-grow: 1;
        }
    }
}
