.cheatsheet {
    margin: auto;
    max-width: 1100px;
    padding: 0 50px 30px;

    h2,
    h3,
    h4,
    h5,
    h6 {
        padding: 10px 0 5px;
    }

    h2 {
        border-bottom: 1px solid grey;
        margin-bottom: 20px;
    }

    ul {
        li {
            margin: 15px 0px;
        }
    }

    p {
        margin: 15px 0px 10px;
    }

    .result,
    code {
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 20px;

        h2 {
            border: none;
            margin: initial;
        }

        ul, ol {
            padding-left: 20px;

            li {
                margin: initial;
            }
        }

        p {
            margin: initial;
        }
    }

    .result {
        background-color: var(--bg-color);
        border: 1px solid grey;
        font-family: initial;

        * {
            color: var(--font-color);
            background-color: initial;
        }
    }

    code {
        padding: 2px 3px;
        border-radius: 3px;
    }

    .hljs {
        border-radius: 8px;
        margin: 10px 0px;
    }
}
