.doc {
    background-color: var(--doc-bg-color);
    color: var(--doc-font-color);
    border-radius: var(--doc-border-radius);
    margin: auto;
    margin-bottom: 80px;
    max-width: 1100px;
    padding: 0 50px 30px;
    box-shadow: var(--shadow);
    margin-top: calc(var(--header-height) + 50px);

    h1 {
        padding: 40px 10px;
        margin: 0 auto;
        max-width: 1100px;
        text-align: center;
        background-color: var(--doc-bg-color);
        color: var(--doc-font-color);
        border-radius: 8px 8px 0px 0px;
        user-select: none;
    }
}

.cheatsheet {
    h2,
    h3,
    h4,
    h5,
    h6 {
        padding: 10px 0 5px;
    }

    h2 {
        border-bottom: 1px solid grey;
        margin-bottom: 20px;
    }

    ul {
        padding-left: 30px;
    }

    p {
        margin: 15px 0px 10px;
    }

    .result,
    code {
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 20px;

        h2 {
            border: none;
            margin: initial;
        }

        ul,
        ol {
            padding-left: 20px;

            li {
                margin: initial;
            }
        }

        p {
            margin: initial;
        }

        a {
            &:link {
                color: blue;
                text-decoration: underline;
            }

            &:visited {
                color: purple;
                text-decoration: underline;
            }

            &:hover {
                font-weight: initial;
            }
        }
    }

    .result {
        background-color: var(--doc-bg-color);
        border: 1px solid grey;
        font-family: initial;

        * {
            color: var(--doc-font-color);
            background-color: initial;
        }
    }

    code {
        border-radius: 3px;
        color: #e2e2e2;
        background-color: #0d1117;
        padding: 2px 4px;
    }

    pre {
        padding: 10px;
        background-color: #0d1117;
        border-radius: 8px;
        margin: 10px 0px;
        overflow-x: auto;

        &::-webkit-scrollbar {
            height: 12px;
        }

        &::-webkit-scrollbar-track {
            background: rgba(0, 0, 0, 0.2);
            border-radius: 10px;
        }
        
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            height: 10px;
            background: rgb(44, 42, 42);
        }

        &::-webkit-scrollbar-thumb:hover {
            background: rgb(44, 42, 42);
        }

        code {
            padding: 0;
        }
    }

    a {
        color: var(--doc-link-color);
        font-weight: 500;

        &:hover {
            font-weight: 600;
            text-decoration: underline;
        }
    }
}
