@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import "../public/assets/fontawesome/scss/fontawesome.scss";
@import "../public/assets/fontawesome/scss/solid.scss";
@import "../public/assets/fontawesome/scss/brands.scss";

@layer components {
    .glass {
        @apply text-white filter drop-shadow-lg backdrop-blur-2xl rounded-2xl;
        background-image: url(/assets/images/card_bg.png);
        border: 1px solid rgba(255, 255, 255, 0.205);
        border-bottom: 1px solid rgba(82, 75, 75, 0.205);
        border-left: 1px solid rgba(82, 75, 75, 0.205);
    }

    .glass-container {
        @apply rounded-2xl;
        background: linear-gradient(
            195deg,
            rgba(255, 255, 255, 0.1) 5.52%,
            rgba(255, 255, 255, 0) 62.6%
        );
    }
}

@layer utilities {
    .no-ligature {
        font-variant-ligatures: none;
    }

    .fade-bottom {
        mask-image: linear-gradient(to bottom, black 30%, transparent 100%);
    }

    .fade-bottom-scroll {
        --mask-height: 64px;
        --scrollbar-width: 8px;

        /* Need to make sure container has bottom space, otherwise content at the bottom is always faded out */
        padding-bottom: var(--mask-height);

        /* Keep some space between content and scrollbar */
        padding-right: 20px;

        /* The CSS mask */

        /* The content mask is a linear gradient from top to bottom */
        --mask-image-content: linear-gradient(
            to bottom,
            black var(--mask-height),
            black calc(100% - var(--mask-height)),
            transparent
        );

        /* Here we scale the content gradient to the width of the container minus the scrollbar width. The height is the full container height */
        --mask-size-content: calc(100% - var(--scrollbar-width)) 100%;

        /* The scrollbar mask is a black pixel */
        --mask-image-scrollbar: linear-gradient(black, black);

        /* The width of our black pixel is the width of the scrollbar. The height is the full container height */
        --mask-size-scrollbar: var(--scrollbar-width) 100%;

        /* Apply the mask image and mask size variables */
        mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
        mask-size: var(--mask-size-content), var(--mask-size-scrollbar);

        /* Position the content gradient in the top left, and the scroll gradient in the top right */
        mask-position: 0 0, 100% 0;

        /* We don't repeat our mask images */
        mask-repeat: no-repeat, no-repeat;

        /* Firefox */
        & {
            scrollbar-width: thin; /* can also be normal, or none, to not render scrollbar */
            scrollbar-color: currentColor transparent; /* foreground background */
        }

        /* Webkit / Blink */
        &::-webkit-scrollbar {
            width: var(--scrollbar-width);
            opacity: 0;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 9999px; /* always round */
            opacity: 0;
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }

        /* Scrollbar hover */
        &:hover::-webkit-scrollbar {
            opacity: 1;
        }

        &:hover::-webkit-scrollbar-thumb {
            opacity: 1;
        }
    }

    .thin-scroll {
        &::-webkit-scrollbar {
            width: 8px;
        }
    }

    // .fade-top-scroll {
    //     --mask-image-content: linear-gradient(
    //         to bottom,
    //         transparent,
    //         black var(--mask-height),
    //         black calc(100% - var(--mask-height)),
    //         transparent
    //     );
    // }

    .error {
        @apply text-red-500 border-red-500;
        animation: error 0.15s ease-in-out infinite;

        @keyframes error {
            0% {
                transform: translateX(0);
            }
            50% {
                transform: translateX(5px);
            }
            100% {
                transform: translateX(0);
            }
        }
    }
}

:root {
    /* Colors */
    --bg-color: #1f0739;
    --sec-bg-color: #170c60;
    --sec-bg-color-hover: #170b52;
    --sec-bg-color-active: #1f0f6c;
    --font-color: #e2e2e2;

    /* Misc */
    --shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
    --hover-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.7);
    --border: 1px solid grey;
    --header-height: 85px;

    /* Doc styles */
    --doc-bg-color: #e2e2e2;
    --doc-font-color: #282828;
    --doc-link-color: #3c3cff;
    --doc-border-radius: 8px;

    /* Dark mode doc styles */
    --dark-doc-bg-color: #170c60;
    --dark-doc-font-color: #e2e2e2;
    --dark-doc-link-color: var(--acc-color);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

.app,
html,
body {
    font-family: "Fira Code", monospace;
    background-color: var(--bg-color);
    color: var(--font-color);
    min-height: 100vh;

    /* Para los anchor scrolls */
    scroll-padding-top: 150px;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;

    overflow-x: hidden;
}

a {
    color: inherit;
    color: var(--acc-color);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    filter: brightness(3);
    border-radius: 10px;
}
