@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;700&display=swap");

:root {
    --doc-bg-color: #e2e2e2;
    --bg-color: #0c043f;
    --sec-bg-color: #170c60;
    --sec-bg-color-hover: #1b0f5a;
    --sec-bg-color-active: #1f0f6c;
    --font-color: #282828;
    --acc-color: #e61366;
    --acc-color-hover: #be1559;
    --acc-color-active: #a20f4e;
    --shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    --hover-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    --border: 1px solid grey;
}

[data-theme="dark"] {
    --doc-bg-color: #282828;
    --bg-color-hover: #0c0631;
    --font-color: #fafafa;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app,
html,
body {
    font-family: "Fira Code", monospace;
    background-color: var(--bg-color);
    color: var(--font-color);
    min-height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    margin: auto;
    max-width: 1100px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    list-style-type: none;
}