@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;700&display=swap");

header {
    display: none !important;
}

.doc {
    margin-top: 0;
    box-shadow: none;
}

.floating-button {
    display: none !important;
}

pre {
    border: 1px solid lightgrey;
}